.login-logo{
    background-image: url('../images/logo.png');
    border: 1px solid #1d1d1b;
    border-radius: 10px;
}

.verify-logo{
    background-image: url('../images/verify-logo-1.png');
    border: 3px solid #3e3e3e;
    border-radius: 50%;
}


.outer-card {
    background-color: #280091;
    padding: 5px;
    border-radius:10px;
}

.verify-outer-card {
    background-color: #280091;
    padding: 5px;
    border-radius:10px;
    width: 35%;
}

.confirm-outer-card{
    background-color: #280091;
    padding: 5px;
    border-radius:10px;
    width: 50%;
}



/*.btn{*/
    /*background-color: #FDCD02;*/
/*}*/

.btn-move{background-color:#280091;color: #FFF;}
.btn-move:hover{color: #FFF;}

.bg-move{background-color:#280091;}

.btn-green{background-color:#009987;color: #FFF;}
.btn-green:hover{background-color: #72d6cb}


input:focus, textarea:focus{
    border-top: 1px solid #DEE4E8 !important;
    border-right: 1px solid #DEE4E8 !important;
    border-left: 1px solid #DEE4E8 !important;
    border-bottom: 3px solid #060302 !important;
    transition: all 0.2s linear !important;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before{
    border-color: #DEE4E8 !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #280091;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #280091;
    outline: 0 none;
}

.container {
    position: relative;
    top: 40%;
    transform: translateY(40%);
}

.login-body {
    /*background: url('../images/saib2.jpg');*/
    background-color: #280091;
}

.verify-body {
    /*background: url('../images/saib2.jpg');*/
    background-color: #280091;
}

.badge-move {
    color: #FFFFFF;
    background-color: #280091;
}

.form-check-label{
	font-weight: bold;
}
.icon-auth-type-PASSWORD{
    background-image: url('../images/password_token.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 85px;
    margin: 0px;
    padding: 0px;
    border: none;
    margin-top: 113px;
    border-radius: 21px;
}
.icon-auth-type-PASSWORD:hover{
    background-color: #f9bc3d;
}
.icon-auth-type-TOKEN{
    background-image: url('../images/token.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 85px;
    margin: 0px;
    padding: 0px;
    border: none;
    margin-top: 113px;
    border-radius: 21px;
}
.icon-auth-type-TOKEN:hover{
    background-color: #f9bc3d;
}
.icon-auth-type-OFFLINE{
    background-image: url('../images/offline.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 85px;
    margin: 0px;
    padding: 0px;
    border: none;
    margin-top: 113px;
    border-radius: 21px;
}
.icon-auth-type-OFFLINE:hover{
    background-color: #f9bc3d;
}
.icon-auth-type-SMS_SECONDARY{
    background-image: url('../images/secondary_mobile.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 201px;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 21px;
}
.icon-auth-type-SMS_SECONDARY:hover{
    background-color: #f9bc3d;
}
.icon-auth-type-SOFTTOKEN{
    background-image: url('../images/soft_token.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 85px;
    margin: 0px;
    padding: 0px;
    border: none;
    margin-top: 113px;
    border-radius: 21px;
}
.icon-auth-type-SOFTTOKEN:hover{
    background-color: #f9bc3d;
}
.icon-auth-type-SMS_PRIMARY{
    background-image: url('../images/primary_mobile.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 201px;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 21px;
}
.icon-auth-type-SMS_PRIMARY:hover{
    background-color: #f9bc3d;
}
/*.primary-mobile{*/
/*    background-image: url('../images/primary_mobile.png');*/
/*    background-repeat: no-repeat;*/
/*    width: 150px;*/
/*    height: 201px;*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*    border: none;*/
/*    border-radius: 21px;*/
/*}*/



/*.soft-token{*/
/*	background-image: url('../images/soft_token.png');*/
/* background-repeat: no-repeat;*/
/*    width: 150px;*/
/*    height: 85px;*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*    border: none;*/
/*	margin-top: 113px;*/
/*	border-radius: 21px;*/
/*}*/


.second-factor-type input[type="radio"]{
    -webkit-appearance:none;
}
